**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

/usr/local/lib/python3.10/dist-packages/learntools/sql/ex1.py:64: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (type(fields_for_plotting[0] == str), "The first item in `fields_for_plotting` should be a string.")
/usr/local/lib/python3.10/dist-packages/learntools/sql/ex1.py:65: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (type(fields_for_plotting[1] == str), "The second item in `fields_for_plotting` should be a string.")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [3]:
# Write the code you need here to figure out the answer
table_idm = [m.table_id for m in client.list_tables(dataset)]
print(table_idm)

['crime']

In [4]:
num_tables = len(table_idm)  # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [5]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [6]:
# Write the code to figure out the answer
table_ref = dataset_ref.table("crime")

table = client.get_table(table_ref)

table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, None, (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, None, (), None),
 SchemaField('block', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('description', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, None, (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, None, (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('location', 'STRING', 'NULLABLE', None, None, (), None)]

In [7]:
timestamp_fields = [n for n in table.schema if n.field_type == 'TIMESTAMP'] 
num_timestamp_fields = len(timestamp_fields)
# Put your answer here

# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [8]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [9]:
# Write the code here to explore the data so you can find the answer
client.list_rows(table, max_results = 8 ).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11060331,JA397659,2017-08-13 12:27:00+00:00,0000X W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42,32,02,1176068.0,1901284.0,2017,2018-02-10 15:50:01+00:00,41.884486,-87.628909,"(41.884486217, -87.628908795)"
1,8705929,HV357473,2012-06-27 17:00:00+00:00,002XX N MICHIGAN AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42,32,02,1177257.0,1901911.0,2012,2018-02-10 15:50:01+00:00,41.886180,-87.624524,"(41.886179873, -87.624523664)"
2,11919725,JC544322,2019-12-09 01:00:00+00:00,0000X E WACKER DR,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42,32,02,1176971.0,1902537.0,2019,2019-12-16 15:40:25+00:00,41.887904,-87.625555,"(41.887904127, -87.625554948)"
3,13228038,JG444525,2023-09-29 23:00:00+00:00,0000X E LOWER WACKER DR,0312,ROBBERY,ARMED - KNIFE / CUTTING INSTRUMENT,SIDEWALK,False,False,...,42,32,03,1177080.0,1902693.0,2023,2023-10-07 15:42:05+00:00,41.888330,-87.625150,"(41.888329732, -87.625149941)"
4,11794795,JC393029,2019-08-14 23:37:00+00:00,0000X E RANDOLPH ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,SIDEWALK,True,False,...,42,32,03,1177166.0,1901299.0,2019,2019-09-10 15:40:04+00:00,41.884503,-87.624876,"(41.884502574, -87.624876386)"
5,12476567,JE366258,2021-09-08 16:20:00+00:00,0000X E LAKE ST,0312,ROBBERY,ARMED - KNIFE / CUTTING INSTRUMENT,CONVENIENCE STORE,False,False,...,42,32,03,1176905.0,1901744.0,2021,2021-09-15 15:40:24+00:00,41.885730,-87.625821,"(41.885729587, -87.625821329)"
6,13306418,JG539387,2023-12-12 14:15:00+00:00,001XX N STATE ST,0313,ROBBERY,ARMED - OTHER DANGEROUS WEAPON,DEPARTMENT STORE,False,False,...,34,32,03,1176352.0,1900918.0,2023,2023-12-20 15:41:19+00:00,41.883475,-87.627877,"(41.883475491, -87.627876969)"
7,8573055,HV247381,2012-04-18 10:45:00+00:00,0000X W WACKER DR,031A,ROBBERY,ARMED: HANDGUN,RESTAURANT,False,False,...,42,32,03,1175668.0,1902130.0,2012,2016-02-04 06:33:39+00:00,41.886817,-87.630352,"(41.886816689, -87.630352182)"

In [10]:
fields_for_plotting = ["latitude", "longitude"] # Put your answers here

# Check your answer
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [11]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [12]:
# Scratch space for your code
client.list_rows(table, selected_fields=table.schema[-4:], max_results = 8 ).to_dataframe()

,updated_on,latitude,longitude,location
0,2018-02-10 15:50:01+00:00,41.884486,-87.628909,"(41.884486217, -87.628908795)"
1,2018-02-10 15:50:01+00:00,41.886180,-87.624524,"(41.886179873, -87.624523664)"
2,2019-12-16 15:40:25+00:00,41.887904,-87.625555,"(41.887904127, -87.625554948)"
3,2023-10-07 15:42:05+00:00,41.888330,-87.625150,"(41.888329732, -87.625149941)"
4,2019-09-10 15:40:04+00:00,41.884503,-87.624876,"(41.884502574, -87.624876386)"
5,2021-09-15 15:40:24+00:00,41.885730,-87.625821,"(41.885729587, -87.625821329)"
6,2023-12-20 15:41:19+00:00,41.883475,-87.627877,"(41.883475491, -87.627876969)"
7,2016-02-04 06:33:39+00:00,41.886817,-87.630352,"(41.886816689, -87.630352182)"

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*